html {
  box-sizing: border-box;
}

/*HEADER*/

.container {
  max-width: 965px;
  margin: 0 auto;
}

header {
  background-image: url('https://images.unsplash.com/photo-1452441205368-432280a77839?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b0253ab5c0b38bcc629566dae2ec2b1c');
  background-size: cover;
  height: 420px;

}

header h1 {
  display: block;
  text-align: center;
  color: white;
  font-family: 'Bad Script', cursive;
  font-size: 65px;
}

header img {
  padding: 45px 0px 0px 0px;
}

/*BODY*/

.square_photos {
  font-size: 0;
  max-width: 100%;
  margin: 0 auto;
}

.square_photos img{
  height: 100%;
  width: 100%;
  display: inline-block;
  object-fit: cover;
  padding:0;
}

div .square {
  width: 33.33%;
  height: 33.33%;
  display: inline-block;
}

.greeting h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  color: #212121;
  text-align: center;
  padding: 10px;
}

.info h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  color: #212121;
  text-align: center;
  padding: 15px;
}

.contact h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  color: #212121;
  text-align: center;
}

.contact h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #212121;
  text-align: center;
  display: block;
}

#email {
  padding:0 110px 10px 0;
}

hr {
  border-style: dashed;
  border-color: #6e6f6f;
}

div .square {
  width: 33.33%;
  height: 300px;
  display: inline-block;
  position: relative;
}

.square:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  transition: all 250ms ease-in-out;

}

.square:hover:after  {
  opacity: 1;
  background-color: rgba(150, 185, 226, 0.5);
  height: 100%;
  width: 100%;
}


#box {
  width: 33.33%;
  height: 300px;
  display: inline-block;
  margin:5% auto 0 auto;
  background:url(https://images.unsplash.com/photo-1444724834694-87238f9942f7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1a32043f93684ba76fccb5f9120aa888);
  background-size:cover;
   overflow:hidden;
}

#box2 {
  width: 33.33%;
  height: 300px;
  display: inline-block;
  margin:5% auto 0 auto;
  background:url(https://images.unsplash.com/photo-1455641374154-422f32e234cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e38de2b4a12d970922f6ac1360d7b641);
  background-size:cover;
   overflow:hidden;
}

#box3 {
  width: 33.33%;
  height: 300px;
  display: inline-block;
  margin:5% auto 0 auto;
  background:url(https://images.unsplash.com/photo-1456964513482-f21a68af77ee?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=050aaa3543c7c01aef7330962f130c74);
  background-size:cover;
   overflow:hidden;
}


#overlay {
  width: 100%;
  height: 300px;
  background-color: rgba(150, 185, 226, 0.8);
  text-align:center;
  padding:45px 0 66px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#overlay2 {
  width: 100%;
  height: 300px;
  background-color: rgba(150, 185, 226, 0.8);
  text-align:center;
  padding:45px 0 66px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#overlay3 {
  width: 100%;
  height: 300px;
  background-color: rgba(150, 185, 226, 0.8);
  text-align:center;
  padding:45px 0 66px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#box:hover #overlay {
    opacity:1;}

#box2:hover #overlay2 {
    opacity:1;}

#box3:hover #overlay3 {
      opacity:1;}

#plus {
  font-family:'open sans condensed', sans-serif;
  font-weight:900;
  color:rgba(255,255,255,.85);
  font-size:36px;
  text-transform: uppercase;
}

#plus2 {
  font-family:'open sans condensed', sans-serif;
  font-weight:900;
  color:rgba(255,255,255,.85);
  font-size:36px;
  text-transform: uppercase;
}

#plus3 {
  font-family:'open sans condensed', sans-serif;
  font-weight:900;
  color:rgba(255,255,255,.85);
  font-size:36px;
  text-transform: uppercase;
}

 a{
  color: #599abd;
}

/*FOOTER*/

footer span {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #212121;
  text-align: center;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgba(150, 200, 226, .5);
  color: #212121;
  padding: 30px 0 10px 0;
  margin: 0 auto;
}


/*MEDIA QUERIES*/

@media (max-width: 544px){
  header h1{
    display: none;
  }

  header img {
    width:50%;
    margin: 75px 0 0 105px;
  }
  #box {
    width: 100%;
    display: block;
  }
  #box2 {
    width: 100%;
    display: block;
  }
  #box3 {
    width: 100%;
    display: block;
  }
}

@media (max-width: 768px){
  header img {
    width:50%;
    margin: 75px 0 0 105px;
  }

  header h1 {
    display: none;
  }
  #box {
    width: 100%;
    display: block;
  }
  #box2 {
    width: 100%;
    display: block;
  }
  #box3 {
    width: 100%;
    display: block;
  }
}

@media (max-width: 992px){

  header h1 {
    display: none;
  }
  header img {
    width:50%;
    margin: 0 0 20px 105px;
  }
  #box {

  }
  #box2 {

  }
  #box3 {

  }

}
